* {
    margin: 0;
    padding: 0;
    font-family: calibri;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.up {
    position: fixed;
    padding-top: 0px;
    height: 60px;
    width: 100%;
    background-color: yellowgreen;
    text-align:right;
    margin-right:20px;
}

.up_text{
    font-weight:900;
    line-height:60px;
    font-size: 24px;
    text-decoration:none;
    color:black;
    margin-right:20px;
}

.pic{
float:left;
height:60px;
}

.hello{
text-align:center;
margin-top:70px;
width:100%;
}

.hello_text{
}

.admin_info{
position:absolute;
margin-top:120px;
text-align: center;
width: 100%;
}



.admin_info_text{
    font-weight:700;
    line-height:60px;
    font-size: 22px;
    text-decoration:none;
    color:black;
    margin-right:30px;
    margin-left:30px;
}

.tables{
position: absolute;
margin-top:200px;
width: 100%;
}

.table{
position:absolute;
align: center;
text-align: center;
width: 100%;
background: lightgrey;
border-collapse: collapse;
padding-bottom: 50px;
}


.just_center{
text-align: center;
}

.delete_text{
text-decoration:none;
color: red;
}

.new_info{
border:2px solid black;
width:500px;
margin:0 auto;
padding:20px;
}

.new_employee{
border:2px solid black;
width:500px;
margin:0 auto;
padding:20px;
}

.new_info_text{
font-weight:700;
    font-size: 18px;
    text-decoration:none;
    color:black;
    margin-right:30px;
    margin-left:70px;

}

.new_info_button{
font-size: 16px;
margin-right:30px;
margin-left:50px;
width: 150px;
height:30px;
}

.new_info_input{
margin-right:30px;
    margin-left:90px;
    width: 150px;
    height:20px;
}

.update_text{
text-decoration:none;
color: green;
}

.brown{
text-decoration:none;
color: brown;
}

td, th {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    }


td.no_border, th.no_border{
border: 0;
}
.down{
    background-color: yellowgreen;
    text-align:center;
    margin-right:20px;
    width:100%;
    height: 40px;
}

.down_text{
font-weight:500;
    line-height:40px;
    font-size: 18px;
    text-decoration:none;
    color:black;
    margin-right:20px;
}



