<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Сотрудники</title>
</head>
<body>
<header>
    <div>
        <a>
            <img th:src="@{/images/pr_logo.jpg}">
        </a>
        <nav>
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    О нас
                </a>
                <a th:href="@{/}">
                    Сменить пользователя
                </a>
            </div>
        </nav>
    </div>
</header>

<div>
    <h1>
        Сотрудники
    </h1>
</div>

<br/>
<br/>

<a th:href="@{/main_admin(admin=${admin.id})}">На главную</a>

<br/>
<br/>

<a th:href="@{/new_employee(creator=${admin.id})}">Новый сотрудник</a>

<br/>
<br/>

<table border="1">
    <tr>
        <th>№</th>
        <th>ФИО</th>
        <th>Редактировать</th>
        <th>Удалить</th>
    </tr>
    <tr th:each="emp, empIter: ${employees}">
        <td th:utext="${empIter.index}+1">№</td>
        <td th:utext="${emp.name}">ФИО</td>
        <td><a th:href="@{/upd_employee(employee=${emp.id},creator=${admin.id})}">Редактировать</a></td>
        <td><a th:href="@{/del_employee(employee=${emp.id},admin=${admin.id})}" th:method="delete">Удалить</a></td>
    </tr>

</table>

<footer>
    <div>
        <p>Коза слабее льва и тигра, но коза в цирке не выступает!</p>
    </div>
</footer>
</body>
</html>