<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<header>
    <div>
        <a>
            <img th:src="@{/images/pr_logo.jpg}">
        </a>
        <nav>
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    О нас
                </a>
                <a th:href="@{/}">
                    Сменить пользователя
                </a>
            </div>
        </nav>
    </div>
</header>

<div>
    <h1>
        <span>
            Здравствуйте,
            <span th:text="${admin.name}">
            </span>!
        </span>
    </h1>
</div>

<br/>
<br/>

<h2>Вклады</h2>
<table border="1">
    <tr>
        <th>№</th>
        <th>Название вклада</th>
        <th>Минимальная сумма</th>
        <th>Максимальная сумма</th>
        <th>Процентная ставка</th>
        <th>Валюта</th>
        <th>Обновить</th>
        <th>Добавил</th>
    </tr>
    <tr th:each="inf, infIter: ${infodep}">
        <td th:utext="${infIter.index}+1">№</td>
        <td th:utext="${inf.name}">Название вклада</td>
        <td th:utext="${inf.minSumm}">Минимальная сумма</td>
        <td th:utext="${inf.maxSumm}">Максимальная сумма</td>
        <td th:utext="${inf.rate}">Процентная ставка</td>
        <td th:utext="${inf.currency}">Валюта</td>
        <td><a th:href="@{/upd_info(info=${inf.id},admin=${admin.id})}">Обновить</a></td>
        <td th:utext="${inf.admin.name}">Добавил</td>
    </tr>
</table>

<br/>
<br/>

<h2>Кредиты</h2>
<table border="1">
    <tr>
        <th>№</th>
        <th>Название кредита</th>
        <th>Минимальная сумма</th>
        <th>Максимальная сумма</th>
        <th>Процентная ставка</th>
        <th>Валюта</th>
        <th>Добавил</th>
    </tr>
    <tr th:each="inf, infIter: ${infocrd}">
        <td th:utext="${infIter.index}+1">№</td>
        <td th:utext="${inf.name}">Название кредита</td>
        <td th:utext="${inf.minSumm}">Минимальная сумма</td>
        <td th:utext="${inf.maxSumm}">Максимальная сумма</td>
        <td th:utext="${inf.rate}">Процентная ставка</td>
        <td th:utext="${inf.currency}">Валюта</td>
        <td th:utext="${inf.admin.name}">Добавил</td>
    </tr>
</table>


<footer>
    <div>
        <p>Коза слабее льва и тигра, но коза в цирке не выступает!</p>
    </div>
</footer>
</body>
</html>