<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
</head>
<body>
<header>
    <div>
        <a>
            <img th:src="@{/images/pr_logo.jpg}">
        </a>
        <nav>
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    О нас
                </a>
                <a th:href="@{/}">
                    Сменить пользователя
                </a>
            </div>
        </nav>
    </div>
</header>

<div>
    <h1>
        Клиенты
    </h1>
</div>

<a th:href="@{/main_admin(admin=${admin.id})}">На главную</a>

<table border="1">
    <tr>
        <th>№</th>
        <th>ФИО</th>
        <th>Серия и номер паспорта</th>
        <th>Кредиты</th>
    </tr>
    <tr th:each="clt, cltIter: ${clients}">
        <td th:utext="${cltIter.index}+1">№</td>
        <td th:utext="${clt.name}">ФИО</td>
        <td th:utext="${clt.passportSeries}+' '+${clt.passportNumber}">Серия и номер паспорта</td>
        <td><a th:href="@{/pays_history(client=${clt.id},admin=${admin.id})}">История выплат</a></td>
    </tr>

</table>

<footer>
    <div>
        <p>Коза слабее льва и тигра, но коза в цирке не выступает!</p>
    </div>
</footer>
</body>
</html>