<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <div >
        <nav>
            <div class="up">
                <a>
                    <img  class="pic" th:src="@{/images/pr_logo.png}">
                </a>
                <a class = "up_text" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    О нас
                </a>
                <a class = "up_text" th:href="@{/}">
                    Сменить пользователя
                </a>
            </div>
        </nav>
    </div>
</header>

<div class = "hello">
    <h1>
        Клиенты
    </h1>
</div>

<div class = "admin_info">
<a class="admin_info_text" th:href="@{/main_admin(admin=${admin.id})}">На главную</a>
</div>

<div class="tables">
<table class="table">
    <tr>
        <th>№</th>
        <th>ФИО</th>
        <th>Серия и номер паспорта</th>
        <th>Кредиты</th>
    </tr>
    <tr th:each="clt, cltIter: ${clients}">
        <td th:utext="${cltIter.index}+1">№</td>
        <td th:utext="${clt.name}">ФИО</td>
        <td th:utext="${clt.passportSeries}+' '+${clt.passportNumber}">Серия и номер паспорта</td>
        <td><a class="update_text" th:href="@{/pays_history(client=${clt.id},admin=${admin.id})}">История выплат</a></td>
    </tr>

</table>
</div>

<div class = "down">
    <div>
        <p class = "down_text">Коза слабее льва и тигра, но коза в цирке не выступает!</p>
    </div>
</div>
</body>
</html>