<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
</head>
<body>
<header>
    <div>
        <a>
            <img th:src="@{/images/pr_logo.jpg}">
        </a>
        <nav>
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    О нас
                </a>
                <a href="index.html">
                    Сменить пользователя
                </a>
            </div>
        </nav>
    </div>
</header>

<div>
    <h1>
        <span>Клиенты сотрудника
            <span th:text="${employee.name}">
            </span>.
        </span>
    </h1>
</div>

<div>
    <table border="1">
        <tr>
            <th>№</th>
            <th>ФИО</th>
            <th>Вклады</th>
            <th>Кредиты</th>
        </tr>
        <tr th:each="clt : ${employee.clients}">
            <td th:utext="${employee.clients.indexOf(clt)+1}">Название вклада</td>
            <td th:utext="${clt.name}">Текущая сумма</td>
            <td><a th:href="@{/deposits(client = ${clt.id})}" target="_blank">Вклады</a></td>
            <td><a th:href="@{/credits(client = ${clt.id})}" target="_blank">Кредиты</a></td>
        </tr>

    </table>
</div>

<footer>
    <div>
        <p>Коза слабее льва и тигра, но коза в цирке не выступает!</p>
    </div>
</footer>
</body>
</html>