<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Кредиты</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header style="z-index: 999999">
    <div >
        <nav>
            <div class="up">
                <a>
                    <img  class="pic" th:src="@{/images/pr_logo.png}">
                </a>
                <a class = "up_text" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    О нас
                </a>
                <a class = "up_text" th:href="@{/}">
                    Сменить пользователя
                </a>
            </div>
        </nav>
    </div>
</header>

<div class="hello">
    <h1>
        <span>Кредиты
            <span th:text="${client.name}">
            </span>
        </span>
    </h1>
</div>

<div class = "tables">
    <table class = "table">
        <tr>
            <th>Название кредита</th>
            <th>Текущий остаток</th>
            <th>Дата открытия</th>
            <th>Дата окончания</th>
            <th>Дата последнего платежа</th>
            <th>Следующий платёж</th>
            <th>Процентная ставка</th>
            <th>Валюта</th>
            <th>Внесение выплаты</th>
            <th>Закрытие</th>
        </tr>
        <tr th:each="crd : ${client.credits}">
            <td th:utext="${crd.info.name}">Название вклада</td>
            <td th:utext="${crd.summ}">Текущая сумма</td>
            <td th:utext="${crd.openDate}">Дата открытия</td>
            <td th:utext="${crd.endDate}">Дата окончания</td>
            <td th:utext="${crd.lastPayDate}">Дата последнего платежа</td>
            <td th:utext="${crd.summOfNextPay}">Слежующий платёж</td>
            <td th:utext="${crd.info.rate}">Процентная ставка</td>
            <td th:utext="${crd.info.currency}">Валюта</td>
            <td><a class = "update_text" th:href="@{/new_pay(credit=${crd.id})}">Внести</a></td>
            <td><a class="delete_text" th:href="@{/del_credit(credit=${crd.id})}">Удалить</a></td>
        </tr>
    </table>
</div>

<div class = "admin_info">
    <a class = "admin_info_text" th:href="@{/new_cred(client = ${client.id})}">Взять кредит</a>
</div>


</body>
</html>