<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header style="z-index: 999999">
    <div >
        <nav>
            <div class="up">
                <a>
                    <img  class="pic" th:src="@{/images/pr_logo.png}">
                </a>
                <a class = "up_text" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    О нас
                </a>
                <a class = "up_text" th:href="@{/}">
                    Сменить пользователя
                </a>
            </div>
        </nav>
    </div>
</header>

<div class = "hello">
    <h1>
        <span>
            <span th:text="${client.name}">
            </span>, Ваши вклады:
        </span>
    </h1>
</div>

<div class="tables">
    <table class = "table">
        <tr>
            <th>Название вклада</th>
            <th>Текущая сумма</th>
            <th>Дата открытия</th>
            <th>Дата окончания</th>
            <th>Процентная ставка</th>
            <th>Валюта</th>
            <th>Закрытие</th>
        </tr>
        <tr th:each="dep : ${client.deposits}">
            <td th:utext="${dep.info.name}">Название вклада</td>
            <td th:utext="${dep.summ}">Текущая сумма</td>
            <td th:utext="${dep.openDate}">Дата открытия</td>
            <td th:utext="${dep.endDate}">Дата окончания</td>
            <td th:utext="${dep.info.rate}">Процентная ставка</td>
            <td th:utext="${dep.info.currency}">Валюта</td>
            <td><a class="delete_text" th:href="@{/del_deposit(deposit=${dep.id})}">Удалить</a></td>
        </tr>

    </table>
</div>

<div class = "admin_info">
    <a class = "admin_info_text" th:href="@{/new_dep(client = ${client.id})}">Открыть вклад</a>
</div>


</body>
</html>