<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header style="z-index: 999999">
    <div >
        <nav>
            <div class="up">
                <a>
                    <img  class="pic" th:src="@{/images/pr_logo.png}">
                </a>
                <a class = "up_text" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    О нас
                </a>
                <a class = "up_text" th:href="@{/}">
                    Сменить пользователя
                </a>
            </div>
        </nav>
    </div>
</header>

<div class = "tables">
    <div class = "new_info">
        <form>
            <h1 class="just_center">Авторизация</h1>
            <br/>
            <br/>
        <div>
                <div>
                    <label class = "new_info_text">
                        Логин
                    </label>
                    <input style="margin-left:120px;" type="text" placeholder="Логин" required="required">
                </div>
            <br/>
            <br/>
                <div>
                    <label class = "new_info_text">
                        Пароль
                    </label>
                    <input style="margin-left:110px;"type="text" placeholder="Пароль" required="required">
                </div>
            <br/>
            <br/>
                <div class="just_center">
                    <a>
                        Войти
                    </a>
                </div>
        </div>
        </form>
    </div>
</div>

<div class = "down">
    <div>
        <p class = "down_text">Коза слабее льва и тигра, но коза в цирке не выступает!</p>
    </div>
</div>
</body>
</html>