<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <div >
        <nav>
            <div class="up">
                <a>
                    <img  class="pic" th:src="@{/images/pr_logo.png}">
                </a>
                <a class = "up_text" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    О нас
                </a>
                <a class = "up_text" th:href="@{/}">
                    Сменить пользователя
                </a>
            </div>
        </nav>
    </div>
</header>

<div class = "hello">
    <h1>
        <span class = "hello_text">
            Здравствуйте,
            <span th:text="${admin.name}">
            </span>!
        </span>
    </h1>
</div>

<div class = "admin_info">
    <a class="admin_info_text" th:href="@{/all_info(admin=${admin.id})}">Информация по вкладам и кредитам</a>
    <a class = "admin_info_text" th:href="@{/all_employees(admin=${admin.id})}">Сотрудники</a>
    <!--a class="admin_info_text"th:href="@{/all_clients(admin=${admin.id})}">Клиенты</a-->
    <a class = "admin_info_text" th:href="@{stats(admin=${admin.id})}">Статистика</a>
</div>

<div class = "down">
    <div>
        <p class = "down_text">Коза слабее льва и тигра, но коза в цирке не выступает!</p>
    </div>
</div>
</body>
</html>