<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Внесение выплаты</title>
</head>
<body>
<header>
    <div>
        <a>
            <img th:src="@{/images/pr_logo.jpg}">
        </a>
        <nav>
            <div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    О нас
                </a>
                <a th:href="@{/}">
                    Сменить пользователя
                </a>
            </div>
        </nav>
    </div>
</header>

<div>
    <h1>
        Внесение выплаты
    </h1>
</div>

<br/>
<a th:href="@{/credits_client(client=${credit.client.id})}">Назад</a>
<br/>

<form method="post" th:object="${pay}" th:action="@{/new_pay(credit=${credit.id})}">
    <label>
        Сумма
    </label>
    <input type="number" placeholder="10000" required="required" th:field="*{cash}" min="1">
    <br/>
    <button type="submit">Внести выплату</button>
    <button type="reset">Очистить</button>
</form>

<footer>
    <div>
        <p>Коза слабее льва и тигра, но коза в цирке не выступает!</p>
    </div>
</footer>
</body>
</html>