<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Новый кредит</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <div >
        <nav>
            <div class="up">
                <a>
                    <img  class="pic" th:src="@{/images/pr_logo.png}">
                </a>
                <a class = "up_text" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    О нас
                </a>
                <a class = "up_text" th:href="@{/}">
                    Сменить пользователя
                </a>
            </div>
        </nav>
    </div>
</header>

<div class="hello">
    <h1>
        Открытие нового кредита для клиента
        <span th:text="${client.name}">
        </span>
    </h1>
</div>

<div class = "admin_info">
<p class = "admin_info_text" >Список доступных кредитов</p>
</div>
    <div class = "tables">
<table class="table">
    <tr>
        <th>Название кредита</th>
        <th>Минимальная сумма</th>
        <th>Максимальная сумма</th>
        <th>Процентная ставка</th>
        <th>Валюта</th>
    </tr>
    <tr th:each="inf: ${infos}">
        <td th:utext="${inf.name}">Название кредита</td>
        <td th:utext="${inf.minSumm}">Минимальная сумма</td>
        <td th:utext="${inf.maxSumm}">Максимальная сумма</td>
        <td th:utext="${inf.rate}">Процентная ставка</td>
        <td th:utext="${inf.currency}">Валюта</td>
    </tr>

</table>

    <br/>
    <br/>
    <br/>
    <div class = "new_info">
<form method="post" th:object="${credit}" th:action="@{/new_cred(client=${client.id})}">
    <label class = "new_info_text" style="margin-right:25px;">
        Тип кредита
    </label>
    <select class = "new_info_input" style="margin-right:60px;" required="required" th:field="*{infoID}">
        <option  th:each="inf : ${infos}" th:text="${inf.name}" th:value="${inf.id}">Вклад</option>
    </select>
    <br/>
    <br/>
    <label class = "new_info_text">
        Сумма
    </label>
    <input class = "new_info_input" style="margin-left:125px;" type="number" placeholder="100000" required="required" min="1" th:field="*{summ}"/>
    <br/>
    <br/>
    <label class = "new_info_text">
        Срок (мес.)
    </label>
    <input class = "new_info_input" type="number" placeholder="12" required="required" min="1" th:field="*{months}"/>
    <br/>
    <br/>
    <button class = "new_info_button" type="submit">Взять кредит</button>
    <button class = "new_info_button" type="reset">Очистить</button>
</form>
</div>
</div>
<div class = "down">
    <div>
        <p class = "down_text">Коза слабее льва и тигра, но коза в цирке не выступает!</p>
    </div>
</div>
</body>
</html>