<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header style="z-index: 999999">
    <div >
        <nav>
            <div class="up">
                <a>
                    <img  class="pic" th:src="@{/images/pr_logo.png}">
                </a>
                <a class = "up_text" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    О нас
                </a>
                <a class = "up_text" th:href="@{/}">
                    Сменить пользователя
                </a>
            </div>
        </nav>
    </div>
</header>


<div class="hello">
    <h1>
        Статистика
    </h1>
</div>

<br/>
<br/>

<div class = "admin_info">
    <a class="admin_info_text" th:href="@{/main_admin(admin=${admin.id})}">На главную</a>
</div>

<br/>
<br/>

<table class="tables">
<tr><td><h2 class="just_center">По популярности среди клиентов</h2></td></tr>
    <br/>
    <tr><td><h3 class="just_center">Вклады</h3></td></tr>
    <br/>
    <tr><td><table class="table">
    <tr>
        <th>№</th>
        <th>Название вклада</th>
        <th>Число клиентов</th>
    </tr>
    <tr th:each="dep, depIter: ${depCount}">
        <td th:utext="${depIter.index}+1">№</td>
        <td th:utext="${dep[0]}">Название вклада</td>
        <td th:utext="${dep[1]}">Число клиентов</td>
    </tr>
</table>
    </td>
    </tr>
    <br/>
    <br/>


    <tr><td><h3 class="just_center">Кредиты</h3></td></tr>
    <br/>
    <tr><td><table class="table">
    <tr>
        <th>№</th>
        <th>Название кредита</th>
        <th>Число клиентов</th>
    </tr>
    <tr th:each="crd, crdIter: ${crdCount}">
        <td th:utext="${crdIter.index}+1">№</td>
        <td th:utext="${crd[0]}">Название кредита</td>
        <td th:utext="${crd[1]}">Число клиентов</td>
    </tr>
</table>
    </td>
    </tr>
<br/>
<br/>

    <tr><td><h2 class="just_center">По доходности</h2></td></tr>
    <br/>
    <tr><td><h3 class="just_center">Вклады</h3></td></tr>
    <br/>
    <tr><td><table class="table">
    <tr>
        <th>№</th>
        <th>Название вклада</th>
        <th>Доходность</th>
    </tr>
    <tr th:each="dep, depIter: ${depProfit}">
        <td th:utext="${depIter.index}+1">№</td>
        <td th:utext="${dep[0]}">Название вклада</td>
        <td th:utext="${dep[1]}">Доходность</td>
    </tr>
</table>
    </td>
    </tr>
    <br/>
    <br/>
    <tr><td><h3 class="just_center">Кредиты</h3></td></tr>
    <br/>
    <tr><td><table class="table">
    <tr>
        <th>№</th>
        <th>Название кредита</th>
        <th>Число клиентов</th>
    </tr>
    <tr th:each="crd, crdIter: ${crdProfit}">
        <td th:utext="${crdIter.index}+1">№</td>
        <td th:utext="${crd[0]}">Название кредита</td>
        <td th:utext="${crd[1]}">Доходность</td>
    </tr>
</table>
    </td>
    </tr>
</table>
</body>
</html>