<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Редактирование данных сотрудника</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<header style="z-index: 999999">
    <div >
        <nav>
            <div class="up">
                <a>
                    <img  class="pic" th:src="@{/images/pr_logo.png}">
                </a>
                <a class = "up_text" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    О нас
                </a>
                <a class = "up_text" th:href="@{/}">
                    Сменить пользователя
                </a>
            </div>
        </nav>
    </div>
</header>

<div class = "hello">
    <h1>
        Редактирование данных сотрудника
    </h1>
</div>

<div class = "admin_info">
    <a class = "admin_info_text" th:href="@{/all_employees(admin=${creator.id})}">Назад</a>
    <a class = "admin_info_text" th:href="@{/main_admin(admin=${creator.id})}">На главную</a>
</div>

<div class = "tables">
    <div class = "new_info">
        <form method="put" th:object="${employee}" th:action="@{/upd_employee(creator=${creator.id})}">
            <br/>
            <label class = "new_info_text">
                ФИО
            </label>
            <input style="margin-left:150px;" type="text" required="required" th:value="${employee.name}" th:field="*{name}">
            <br/>
            <br/>
            <label class = "new_info_text">
                Логин
            </label>
            <input style="margin-left:140px;" type="text" required="required" th:value="${employee.login}" th:field="*{login}">
            <br/>
            <br/>
            <label class = "new_info_text">
                Пароль
            </label>
            <input style="margin-left:130px;" type="text" required="required" pattern="[a-zA-Z0-9]{6,}" th:value="${employee.password}" th:field="*{password}">
            <br/>
            <br/>
            <button class = "new_info_button"  type="submit">Создать</button>
            <button class = "new_info_button"  type="reset">Очистить</button>
        </form>
    </div>
</div>

<div class = "down">
    <div>
        <p class = "down_text">Коза слабее льва и тигра, но коза в цирке не выступает!</p>
    </div>
</div>
</body>
</html>