<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Редактирование информации</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header style="z-index: 999999">
    <div >
        <nav>
            <div class="up">
                <a>
                    <img  class="pic" th:src="@{/images/pr_logo.png}">
                </a>
                <a class = "up_text" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    О нас
                </a>
                <a class = "up_text" th:href="@{/}">
                    Сменить пользователя
                </a>
            </div>
        </nav>
    </div>
</header>

<div class = "hello">
<h2>
    <span>
        Обновление информации о вкладе "
        <span th:text="${info.name}"></span>"
    </span>
</h2>
</div>

<div class = "admin_info">
<a class = "admin_info_text" th:href="@{/all_info(admin=${admin.id})}">Назад</a>
<a class = "admin_info_text" th:href="@{/main_admin(admin=${admin.id})}">На главную</a>
</div>

<div class = "tables">
    <div class = "new_info">
<form th:method="put" th:object="${info}" th:action="@{/upd_info(info=${info.id},admin=${admin.id})}">
    <input type="hidden" required="required" readonly="readonly" th:value="${info.name}"/>
    <br/>
    <br/>
    <label class = "new_info_text">
        Минимальная сумма
    </label>
    <input style="margin-left:5px;" type="number" required="required" th:value="${info.minSumm}" min="1" th:field="*{minSumm}"/>
   <br/>
    <br/>
    <label class = "new_info_text">
        Максимальная сумма
    </label>
    <input type="number" required="required" th:value="${info.maxSumm}" min="1" th:field="*{maxSumm}"/>
    <br/>
    <br/>
    <label class = "new_info_text">
        Ставка
    </label>
    <input style="margin-left:120px;" type="number" required="required" th:value="${info.rate}" min="1" max="100" th:field="*{rate}"/>
    <br/>
    <br/>
    <label class = "new_info_text">
        Валюта
    </label>
    <input style="margin-left:115px;" type="text" required="required" readonly="readonly" th:value="${info.currency}" min="1"/>
    <br/>
    <br/>
    <button class = "new_info_button" style="position: relative;left: 40%;transform: translate(-40%, 0);" type="submit">Сохранить</button>
</form>
    </div>
</div>
</body>
</html>